@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --principal: #8b43d1;
  --principal-light: #8a43d14b;
  --gray-500: #1f244b;
  --gray-500-light: #1f244b4b;
  --gray-400: #555568;
  --gray-300: #b7b5b5;
  --gray-200: #ddd;
  --gray-100: #fbf9fe;
  --white: #fff;
  --green: #34a853;
  --orange: #f4695d;
  --orange-light: #f4695d4b;
  --yellow: #f8d218;
  --red: #f8533a;
}

.autocomplete-dropdown-container {
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 1000;
  margin-top: 0.5rem;
  border-radius: 0.75rem;
  box-shadow: 1px 4px 11px 1px #00000017;
  left: 0;
}

.autocomplete-dropdown-container:hover {
  box-shadow: 1px 4px 15px 2px #00000017;
}

.mr-auto-imp {
  margin-right: auto !important;
}

@media (max-width: 639px) {
  .mb-4-imp {
    margin-bottom: 1rem !important;
  }
}

.suggestion-item {
  padding: 0.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.068);
  font-size: 14px;
}

@media (max-width: 420px) {
  .d-xs-none {
    display: none !important;
  }

  .no-xs-padding {
    padding: 12px !important;
  }
}

.react-tel-input .form-control {
  height: 56px !important;
  width: 100% !important;
}

.suggestion-item:last-of-type {
  border-bottom: none;
}

.cursor-pointer {
	cursor: pointer;
}
